:root {
  --bs-backdrop-bg: rgba(0, 0, 0, 0.5); /* noir semi-transparent */
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* bloque le scroll horizontal */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FAF3EB;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  flex: 1;
  padding-bottom: 60px;
}

app-footer {
  width: 100%;
  height: auto; /* laisse la hauteur naturelle */
  background-color: #FAF3EB;
  z-index: auto; /* ou supprime cette ligne */
  padding: 15px 30px; /* ajoute un peu de padding si besoin */
  box-sizing: border-box;
}

@media screen and (max-width: 992px) {
  main.container {
    padding-bottom: 60px; /* hauteur de ta navbar mobile */
  }
}
