:root {
  --bs-backdrop-bg: rgba(0, 0, 0, 0.5); /* noir semi-transparent */
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* bloque le scroll horizontal */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FAF3EB;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  flex: 1;
}

app-footer {
  flex-shrink: 0;
  width: 100%;
}
