<div class="circle-detail-container" *ngIf="circle">
    <div class="circle-info">
        <h2>{{ circle.nom }}</h2>
        <small class="genre">
            <span *ngFor="let gId of circle.genreIds; let last = last">
                {{ getGenreNameById(gId) }}<span *ngIf="!last">, </span>
            </span>
        </small>

        <div class="created-by" *ngIf="circle?.createurId">
            <img [src]="getPhotoUrl(createurPhotoFilename)" alt="Photo créateur" class="photo-creator" />
            <span>Créé par {{ createurPseudo }}</span>
        </div>

        <p class="description">{{ circle.description }}</p>

        <ul class="stats">
            <li>
                <img [src]="getModeRencontreIcon(circle.modeRencontre)" alt="Mode de rencontre" class="icones" />
                {{ getModeRencontreLabel(circle.modeRencontre) }}

                <div *ngIf="circle.modeRencontre?.toUpperCase() === 'PRESENTIEL' && circle.lieuRencontreDetails"
                    class="address-info">
                    <strong>Adresse :</strong>
                    <p>
                        <span *ngIf="circle.lieuRencontreDetails.shop">{{ circle.lieuRencontreDetails.shop
                            }} </span>-
                        <span *ngIf="circle.lieuRencontreDetails.houseNumber">{{ circle.lieuRencontreDetails.houseNumber
                            }} </span>
                        <span *ngIf="circle.lieuRencontreDetails.road">{{ circle.lieuRencontreDetails.road
                            }}</span><br />
                        <span *ngIf="circle.lieuRencontreDetails.postcode">{{ circle.lieuRencontreDetails.postcode }}
                        </span>
                        <span *ngIf="circle.lieuRencontreDetails.city">{{ circle.lieuRencontreDetails.city }}</span>
                    </p>
                </div>
            </li>

            <li>
                <img src="assets/images/icons8/date.png" class="icones"> {{ circle.dateRencontre | date:'dd/MM/yy à
                HH:mm' }}
            </li>

            <li class="members" (click)="toggleParticipantsDropdown()" style="cursor:pointer;">
                <img src="assets/images/icons8/membre.png" alt="Membres" class="icones" />
                {{ participants.length }} / {{ circle.nbMaxMembres ?? 20 }}
                <ul *ngIf="showParticipantsDropdown" class="dropdown-members">
                    <li *ngFor="let participant of participants" class="participant-item">
                        <img [src]="getPhotoUrl(participant.photoProfil)" alt="Photo participant"
                            class="member-avatar" />
                        <span>{{ participant.pseudo }}</span>
                    </li>
                </ul>
            </li>

        </ul>

        <div class="book-info">
            <ng-container *ngIf="circle?.livrePropose; else lectureLibre">
                <div class="book-text">
                    <div class="book-title">{{ circle.livrePropose?.titre }}</div>
                    <div class="book-authors">
                        {{ getAuthors(circle.livrePropose?.auteurs) }}
                    </div>
                </div>
                <div class="book-cover" *ngIf="circle?.livrePropose?.couvertureUrl">
                    <img [src]="circle.livrePropose?.couvertureUrl || 'assets/images/icons8/couverture-livre.png'"
                        alt="Couverture du livre" />
                </div>
            </ng-container>
            <ng-template #lectureLibre>
                <small>Lecture au choix sur le thème !</small>
            </ng-template>
        </div>

        <button class="btn-fil-mobile" (click)="goToDiscussion(circleId)">
            Voir le fil de discussion
        </button>

        <button *ngIf="isCreator" (click)="onModifyCircle(circleId)" class="btn btn-modify">Modifier</button>
        <button *ngIf="!isUserParticipantFlag" (click)="joinCircle()" class="btn btn-join">Rejoindre</button>
        <button *ngIf="isUserParticipantFlag && !isCreator" (click)="leaveCircle()" class="btn btn-leave">Quitter</button>
    </div>

    <div class="discussion">
        <div class="messages-list">
            <ng-container *ngIf="messages.length > 0; else noMessages">
                <div *ngFor="let msg of messages" class="message-item">
                    <div class="header-message">
                        <div class="left-part">
                            <img *ngIf="msg.photoAuteur" [src]="getPhotoUrl(msg.photoAuteur)" alt="Photo auteur"
                                class="photo-message" />
                            <strong class="msg-pseudo">{{ msg.pseudoAuteur }}</strong>
                        </div>
                        <p class="date-heure-message">{{ msg.dateEnvoi | date : 'dd/MM/yy - HH:mm' }}</p>
                    </div>
                    <p>{{ msg.contenu }}</p>
                </div>
            </ng-container>
            <ng-template #noMessages>
                <p>Aucun message pour l'instant</p>
            </ng-template>
        </div>

        <div *ngIf="isUserParticipantFlag" class="new-message">
            <textarea [(ngModel)]="newMessageContent" placeholder="Nouveau message"></textarea>
            <button (click)="sendMessage()" class="btn-new-message">
                <img src="assets/images/icons8/plus.png" alt="icone-plus" class="icone-plus" />
            </button>
        </div>

        <!-- Message d’info pour inviter à rejoindre -->
        <div *ngIf="!isUserParticipantFlag" class="info-join-message">
            <p>Vous devez rejoindre le cercle pour pouvoir envoyer des messages.</p>
        </div>
    </div>
</div>

<div *ngIf="!circle" class="loading">
    Chargement en cours...
</div>

<div *ngIf="showConfirmQuitPopup" class="popup-overlay">
    <div class="popup-content">
        <p>Êtes-vous sûr de vouloir quitter le cercle ?<br />Vous pourrez toujours le rejoindre à nouveau :</p>
        <button class="btn-cancel" (click)="cancelQuit()">Annuler</button>
        <button class="btn-confirm" (click)="confirmQuitCircle()">Oui</button>
    </div>
</div>