<div class="archives-container">
  <h2>Mes cercles archivés</h2>

  <div *ngIf="archivedCircles.length > 0; else noArchivedCircles" class="archives-list">
    <div *ngFor="let circle of archivedCircles" class="circle-card">
      <h3 class="circle-name"><a class="link-no-style" [routerLink]="['/circles', circle.id]">{{ circle.nom }}</a></h3>

      <p>
        <img src="assets/images/icons8/date.png" alt="icone calendrier" class="icon-small">
        {{ circle.dateRencontre | date:'dd/MM/yyyy HH:mm' }}
      </p>

      <p>Créé par {{ getCreatorPseudo(circle.createurId) }}</p>

      <button class="btn-view" [routerLink]="['/circles', circle.id]">Voir</button>
    </div>
  </div>

  <ng-template #noArchivedCircles>
    <p>Vous n'avez aucun cercle archivé auquel vous participez ou que vous avez créé.</p>
  </ng-template>
</div>