.position-relative {
  position: relative;
}

.list-group {
  z-index: 1050; /* au-dessus de tout */
  max-height: 200px;
  overflow-y: auto;
}

.container {
  color: #5C4A42;
}

/* Dropdown checkbox styles */
.dropdown-menu .form-check {
  margin-left: 0.8rem;       /* espace à gauche pour la checkbox */
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;             /* espace entre checkbox et label */
}

.dropdown-menu .form-check-label {
  margin-bottom: 0;
  cursor: pointer;
}

.dropdown-toggle {
  background-color: white;
  border-color: #e7e7e7;
}

/* Bouton valider */
.btn-validate {
  background-color: #D6A4A4;
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #5C4A42;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 25%;
  height: 40px;
}

.btn-validate:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/* Bouton supprimer */
.btn-delete {
  background-color: #b00020;
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 25%;
  height: 40px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.btn-delete:hover {
  background-color: #7f0014;
}

.modal-backdrop {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: white;
  border-radius: 12px;
  padding: 2rem 2.5rem;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  text-align: center;
  font-family: 'Lora', serif;
  color: #5C4A42;
}

.modal-content h2 {
  margin-bottom: 1rem;
  font-weight: 700;
}

.modal-content p {
  margin-bottom: 2rem;
  font-size: 1rem;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.btn-cancel {
  background-color: #A8C3BC;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 20px;
  color: #5C4A42;
  cursor: pointer;
  flex: 1;
  transition: background-color 0.3s ease;
}

.btn-cancel:hover {
  background-color: #8baba9;
}

.btn-confirm {
  background-color: #D64545;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  flex: 1;
  transition: background-color 0.3s ease;
}

.btn-confirm:hover {
  background-color: #b53636;
}

